<!DOCTYPE html>
<html lang="en">
<head>
    <title>Rapper Dashboard</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/style.css" rel="stylesheet">
</head>
<body>

<header class=text-center>
    <h2>User Site</h2>
    <p>Login, Join, Show, Edit, Etc.</p>
</header>

<new-row>
<col-4></col-4>

<col-4>
    <article>
        <header><strong><h4><%=user.name%></h4></strong></header>
        <section>
        <table>
            <tr><td>Email: </td><td><%=user.email%></td></tr>
            <tr><td>Birthday: </td><td><%=user.bday%></td></tr>
            <tr><td>Age: </td><td><%=user.age%></td></tr>
        </table>
        </section>
        <footer class=text-center>
            <form action="/site/users/<%=user._id %>/remove" method=post>
            <a href="/site/users/<%=user._id %>/edit"><button-link>Edit</button-link></a>
            <input type=submit value='Delete'>
            <a href=/site/><button-link>Go Back</button-link></a>
            </form>
        </footer>
    </article>
</col-4>

<col-4></col-4>
</new-row>

</body>
</html>